@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
}

:root {
    background: #AC2B37;
    color: white;
}

@layer components{
    .button-default {
        @apply bg-white text-[#AC2B37] font-semibold py-2 px-4 rounded shadow-md active:bg-[#e4e4e4];
    } 
}